#home {
	background: none;
	height: 1352px;
	padding-top: 40px;
}

#home .splash {
	font-size: 24px;
	line-height: 30px;
	height: 676px;
	border-bottom: 20px solid #fff;
}

#home .nl-logo {
	height: 325px;
	background-position: bottom center;
}

#home .splash p {
	width: 805px;
	margin: 0 auto;
	color: white;
	text-shadow: 1px 1px 2px black;
}

#home .summary {
	background: #eee url('/web/20150804095750im_/http://newleague.co/images/creampaper.png') repeat;
	padding-top: 175px;
	height: 500px;
	text-align: center;
}

#home .item {
	padding: 0 25px;
	width: 190px;
	color: #666;
	vertical-align: text-top;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

#home .item div {
	margin-top: -10px;
	line-height: 60px;
}

#home .item h4 {
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: black;
	margin: 0;
	vertical-align: middle;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

#home .item p {
	margin: 0;
}
/**************************************************************/
#vision {
	background: url('/web/20150804095750im_/http://newleague.co/images/NL_vision.jpg') no-repeat center;
	background-size: cover;
	border: solid #fff;
	border-width: 20px 0;
	height: 676px;
	font-size: 20px;
	line-height: 25px;
	color: white;
	text-shadow: 1px 1px 2px black;
}

#vision h1 {
	color: white;
}

#vision p {
	margin: 0 auto 1em auto;
	width: 810px;
}
/**************************************************************/
#difference {
	font-size: 14px;
	line-height: 25px;
	position: relative;
}

#difference img {
	position: absolute;
	right: 0;
	top: 0;
}

#difference div {
	height: 0;
	display: none;
	margin: 0;
	padding: 0;
}

#difference h1 {
	width: 792px;
	position: relative;
}

#difference p {
	text-align: left;
	position: relative;
	color: #666;
	margin: 0 auto 0 140px;
	width: 645px;
	padding-bottom: 150px;
}
/**************************************************************/
#team h1, #advisors h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.people {
	text-align: center;
	color: #666;
	padding: 30px 0;
}

.people .person {
	width: 220px;
	padding: 25px 30px;
	vertical-align: text-top;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.people img {
	padding: 6px;
	border: 1px solid #666;
	display: block;
	margin: 0 auto;
	width: 121px;
	height: 122px;
}

.people .name {
	font-size: 14px;
	line-height: 14px;
	color: black;
	font-weight: bold;
	margin: 8px auto;
}

.people .position {
	font-size: 12px;
	line-height: 12px;
	color: black;
	margin: 11px auto;
}
/**************************************************************/
#companies h1, #partners h1 {
	margin-top: 0;
}

#companies p, #partners p {
	margin: 0 140px;
	text-align: left;
	color: #666;
	font-size: 20px;
	line-height: 25px;
}

#companies .image-grid {
	padding: 50px 0;
}

#partners .image-grid {
	padding: 50px 0 70px 0;
}

#companies, #partners {
	min-height: 676px;
}

/**************************************************************/
#howitworks {
	background: #f1f1f1 url("/web/20150804095750im_/http://newleague.co/images/noisy_grid.png") repeat;
	text-align: left;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	padding-top: 0;
}

#howbg2 {
	background: url('/web/20150804095750im_/http://newleague.co/images/NL_howitworks.png') repeat-y center top;
	width: 792px;
	padding: 60px 140px;
}

#howitworks h1 {
	margin: 50px 0 55px 0;
}

#howitworks h3 {
	font-size: 19px;
	line-height: 24px;
	margin: 1em 0;
}

/**************************************************************/

#inquiries a.mailto {
	color: white;
	display: block;
	font-size: 21px;
	line-height: 52px;
	height: 52px;
	width: 174px;
	background: #08c url('/web/20150804095750im_/http://newleague.co/images/button.png') no-repeat;
	font-style: normal;
	text-shadow: 0px -1px 1px #005;
	margin: 30px 160px 0;
}

#inquiries, #join {
	min-height: 676px;
}

#inquiries p, #join p {
	color: #666;
	font-size: 16px;
	line-height: 24px;
	margin: 0 140px;
	text-align: left;
}

#inquiries form, #join form {
	text-align: left;
	padding: 50px 0;
}

#inquiries form ul, #join form ul {
	list-style: none;
	padding-left: 140px;
	font-size: 12px;
	color: #666;
}

#inquiries form li, #join form li {
	padding-bottom: 25px;
}

#inquiries form label, #join form label {
	width: 150px;
	padding-top: 5px;
}

#inquiries form label, #join form label,
#inquiries form input, #join form input,
#inquiries form textarea, #join form textarea,
#inquiries form select, #join form select {
	width: 190px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: text-top;
}

#inquiries form label {
	width: 120px;
}

#inquiries form label.error, #join form label.error {
	width: auto;
	margin-left: 10px;
	padding: 3px;
	background: #f99;
	border: 2px solid #e66;
	color: black;
}

#inquiries form input[type="submit"],
#join  form input[type="submit"] {
	color: white;
	display: block;
	border: none;
	padding: 0;
	font-size: 21px;
	line-height: 52px;
	height: 52px;
	width: 174px;
	background: #08c url('/web/20150804095750im_/http://newleague.co/images/button.png') no-repeat;
	font-style: normal;
	text-shadow: 0px -1px 1px #005;
	margin: 30px 0 0 160px;
}

#inquiries form input[type="submit"]:hover,
#join  form input[type="submit"]:hover {
	text-decoration: underline;
	cursor: pointer;
}

#inquiries .thanks, #join .thanks {
	width: 360px;
	text-align: center;
	margin: 100px auto 0 auto;
	border: 1px solid #aaa;
	border-bottom-color: #555;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
}

#inquiries .thanks h4, #join .thanks h4 {
	margin: 0 auto;
	padding: 0;
	color: white;
	font-size: 18px;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	background: #08c url('/web/20150804095750im_/http://newleague.co/images/bluegrad.png') repeat-x;
	background-size: 1px 100%;
}

#inquiries .thanks p, #join .thanks p {
	font-size: 18px;
	line-height: 22px;
	color: #555;
	margin: 0;
	padding: 25px;
	text-align: center;
	-moz-box-shadow: 0 10px 10px -10px #666 inset;
	-webkit-box-shadow: 0 10px 10px -10px #666 inset;
	box-shadow: 0 10px 10px -10px #666 inset;
}
div#daniel.person {
	/* display:none; */
}
/*
     FILE ARCHIVED ON 09:57:50 Aug 04, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:46:23 Aug 11, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/